<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="db" value="Data Source=49.50.88.43;Initial Catalog=dotnet1db;Persist Security Info=True;User ID=dotnet1user;Password=58N9P_s841"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>