<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="db12" value="Data Source=49.50.88.43;Initial Catalog=grkistdb;User ID=grkistuser;Password=q2oR5w_356"/>
  </appSettings>
  
  <system.web>
    <customErrors mode="Off"></customErrors>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
